<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('welcome')}}">Link 1</a></li>
            <li><a href="{{url_for('aboutus')}}">Link 2</a></li>
            <li><a href="{{url_for('contact')}}">Link 3</a></li>
            {%block altrilink%}{%endblock%}
        </ul>
    </nav>
    <div class="container">
       {%block contenutoCointainer%}{%endblock%}
       <h2>Ciao a tutti sono: {{nome}}</h2>
    </div>
</body>
</html>
