<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titolo}}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('welcome')}}">Welcome</a></li>
            <li><a href="{{url_for('aboutus')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('firstSelect')}}">Products</a></li>
            <li><a href="{{url_for('nomi')}}">Nomi</a></li>
            <li><a href="{{url_for('registrati')}}">Registrati</a></li>
            {%block altrilink%}{%endblock%}
        </ul>
    </nav>
    <div class="container">
       {%block contenutoCointainer%}{%endblock%}
    </div>
</body>
</html>
